/* CSS BY GRACIE JACKSON */

/* IMPORTED FONTS*/
/* IMPORT "INTER" FROM GOOGLE FONTS"*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}
/* GLOBAL STYLES (MOBILE FIRST (SMALL) */
/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */
/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
body {
    max-width: 400px;
    margin: 0 auto;
    margin-left: auto;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
*{
    font-family: var(--font);
}
h1{
    color: var(--blue);
    font-family: var(--font);
    font-size: 1.75rem;
    font-weight: bold;
}
/*Header Hamburger Icon*/
nav {
    background-color: var(--black);
    margin-top: 20px;
    overflow: auto;
}
nav ul{
    width: 100%;
    margin:0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
    max-height: 0;
}
nav h2{
    visibility: hidden;
    height: 1px;
}
nav li a{
    display: block;
    font-family: var(--font);
    font-size: 1.5rem;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: var(--blue);
    transition: background-color .3s ease-in;
}
nav a:hover, nav input:hover{
    background-color: var(--blue);
    color: var(--black);
}
nav .hamburger-label{
    cursor: pointer;
    display: inline-block;
    padding: 1.5rem;
    user-select: none;
    float: right;
}
.hamburger-label span{
    background-color: var(--white);
    display: block;
    height: .25rem;
    position: relative;
    transition: background-color .3s ease-out;
    width: 2rem;
}
.hamburger-label span:before, .hamburger-label span:after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamburger-label span:before{
    top: .75rem;
}
.hamburger-label span:after{
    top: -.75rem;
}
.hamburger-input{
    display: none;
}
.hamburger-input:checked ~ ul{
    max-height: 500px;
}
.hamburger-input:checked ~ .hamburger-label span{
    background: transparent;
}
.hamburger-input:checked ~ .hamburger-label span:before{
    transform: rotate(-45deg);
}
.hamburger-input:checked ~ .hamburger-label span:after{
    transform: rotate(45deg);
}
.hamburger-input:checked ~ .hamburger-label:not(.steps) span:before, .hamburger-input:checked ~ .hamburger-label:not(.steps) span:after{
    top: 0;
}
@media screen and (min-width: 600px){
    nav ul{
        overflow: visible;
        position: absolute;
        top: 1.5rem;
        right: .5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    nav li a{
        display: inline-block;
    }
    .hamburger-label span, .hamburger-input{
        display: none;
    }
}
/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
#background-head {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
    color: var(--white);
}
#background-head div{
    backdrop-filter: blur(10px);
    padding: 20px;
    padding-bottom: 0%;
}
#background-head h2{
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 10px;
}
#background-head p{
    font-size: 0.8em;
    line-height: 1.5;
    padding: 5px;
}
#background-head input{
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    border-style: none;
}
#background-head input:hover{
    background-color: var(--red);
    transform: scale(1.05, 1.05);
}
header{
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
}
.gradient-overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to top, var(--blue), transparent);
    filter: blur(2px);
    pointer-events: none;
    z-index: 2;
    border-bottom: 3px solid var(--blue);
}
.line{
    position:absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background-color: var(--blue);
    z-index: 1;
}
#header-container{
    display: flex;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    padding: 10px;
}
.header-logo{
    margin-top: 20px;
    margin-left: 8px;
}
/*Making the headers animated*/
h2, h3{
    animation: slide 0.7s ease-out forwards;
    opacity: 0;
    transform: translateY(15px);
}
@keyframes slide{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* ADD FLOATING SVG LOGO BEFORE THE H1 */
.logo {
    content: "";
    margin-top: 7px;
    margin-left: 10px;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;
    animation: float 5s linear infinite;
}
@keyframes float{
    from{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px)
    }
    to{
        transform: translateY(-0px);
    }
}
/*Expertise section*/
#expertise-description h2{
    font-size: 1.75rem;
    font-weight: bold;
    margin: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#expertise-description p{
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 1.5;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#expertise-description{
    font-family: var(--font);
}
/*Offer section*/
#offers h2{
    font-size: 1.75rem;
    font-weight: bold;
    margin: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    animation: slide 0.7s ease-out forwards;
    opacity: 0;
    transform: translateY(15px);
}
#offers h3{
    font-size: 1.1rem;
    font-weight: bold;
    margin: 15px;
}
#offers p{
    font-size: 0.85rem;
    line-height: 1.5;
}
#offers{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    padding-bottom: 15px;
}
#growth, #impact, #business, #digital, #exclusive, #corporate{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 10px;
    padding: 15px;
    margin: 7px;
    transition: transform 0.3s ease-out;
}
#growth:hover, #impact:hover, #business:hover, #digital:hover, #exclusive:hover, #corporate:hover{
    transform: translateY(-10px);
}
/*Results section*/
#results{
    background-color: var(--blue);
}
#results h2{
    color: var(--white);
    font-size: 1.75rem;
    font-weight: bold;
    margin: 30px;
    padding-top: 20px;
}
#results p{
    font-size: 0.85rem;
    color: var(--white);
    line-height: 1.5;
    margin: 20px 25px;
}
#results h3{
    color: var(--white);
    font-size: 1.7rem;
    font-weight: bold;
    margin: 30px;
    margin-bottom: 10px;
}
/*Profits table*/
#table-container{
    padding: 35px;
    padding-top: 20px;
    padding-bottom: 5px;
}
table{
    width: 100%;
    border-collapse: collapse;
    background-color: var(--black);
    color: var(--white);
}
th, td{
    padding: 15px;
    text-align: center;
    font-size: 0.8rem;
    border: 1px solid var(--charcoal);
}
th{
    background-color: var(--black);
    color: var(--white);
}
tr:nth-child(even){
    background-color: var(--charcoal);
}
tr.gray-line{
    background-color: var(--charcoal);
}
/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    max-width: 800px;
    padding: 1rem;
    position: relative;
    padding-bottom: 30px;
    box-sizing:  border-box;
    padding-left: 30px;
    padding-right: 30px;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 45px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: height 0.5s ease-in-out;
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--white);
}
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar{
    animation: stepUp 1s ease-in-out forwards;
}
/*Contact section*/
#contact-section{
    background-color: var(--black);
    padding-top: 15px;
    overflow: hidden;
    padding: 20px;
}
#contact-section h2{
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--black);
    margin: 15px;
    margin-left: 25px;
}
#contact-section p{
    color: var(--white);
    font-size: 0.8rem;
    line-height: 1.5;
    margin: 15px;
}
/*Contact Form Section*/
#contact-section label{
    display: inline-block;
    width: 100%;
    text-align: left;
}
#full, #email-ad, #company, #industry{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 2px solid var(--blue);
    text-align: left;
    line-height: 1.5;
}
#comment-how{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 2px solid var(--blue);
    height: 100px;
    margin-bottom: 10px;
}
#sub-button{
    width: 100%;
    background-color: var(--blue);
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
    border-style: none;
    font-size: 0.9rem;
}
#sub-button:hover{
    background-color: var(--red);
    transform: scale(1.05, 1.05);
}
/*Footer Section*/
footer{
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 30px;
    padding-top: 0;
    line-height: 1.3;
    font-size: 0.9rem;
}
footer a{
    color: var(--blue);
}
/* MEDIA QUERIES (MEDIUM) */ 

    #results {
        grid-template-columns: 1fr 1fr;
    }
    .results-container {
        flex-direction: row;
        justify-content: space-between;
        
    }
    .results-table {
        width: 50%;
    }
    .bar-chart {
        width: 50%;
    }


/* MEDIA QUERIES (LARGE) */
